{% extends "outer.html" %}

{% block body %}

<!-- 	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Delivery</h1>
      </div> -->

  <div class="container pb-2 mb-4 border-bottom">
    <div class="row">
      <div class="col-sm">
        <canvas id="delivery1" width="400" height="500" class="chartjs-render-monitor"></canvas>
      </div>
      <div class="col-sm">
        <div>
          <canvas id="delivery2" width="500" height="250" class="chartjs-render-monitor"></canvas>
          <div class="border-bottom my-2"></div>
          <canvas id="delivery3" width="500" height="250" class="chartjs-render-monitor"></canvas>
        </div>
      </div>
    </div>
  </div>

  <script>
          var dataDelivery = {
              labels: [{% for i in data["delivery"][data["delivery"].type == 'all'].sort_values('sort')['name']: %}
                "{{ i }}",
                {% endfor %}],
              datasets: [
                  {
                  label: 'Sales',
                  type: 'pie',
                  data: [{% for i in data["delivery"][data["delivery"].type == 'all'].sort_values('sort')['value']: %}
                    "{{ i }}",
                    {% endfor %}],
                  backgroundColor: [
                  window.chartColors.green,
                  window.chartColors.blue,
                  window.chartColors.orange,
                  window.chartColors.purple,
                  window.chartColors.red,
                  ]
                  }
                ]
              }

          var dataDelivery2 = {
              labels: [{% for i in data["delivery"][data["delivery"].type == 'deliverylate'].sort_values('sort')['name']: %}
                "{{ i }}",
                {% endfor %}],
              datasets: [
                  {
                  label: 'Sales',
                  type: 'bar',
                  backgroundColor: Chart.helpers.color(window.chartColors.purple).alpha(0.5).rgbString(),
                  borderColor: window.chartColors.purple,
                  borderWidth: 1,
                  lineTension: 0,
                  data: [{% for i in data["delivery"][data["delivery"].type == 'deliverylate'].sort_values('sort')['value']: %}
                    "{{ i }}",
                    {% endfor %}]
                  }
                ]
              }

          var dataDelivery3 = {
              labels: [{% for i in data["delivery"][data["delivery"].type == 'branch'].sort_values('sort')['name']: %}
                "{{ i }}",
                {% endfor %}],
              datasets: [
                  {
                  label: 'Sales',
                  type: 'doughnut',
                  data: [{% for i in data["delivery"][data["delivery"].type == 'branch'].sort_values('sort')['value']: %}
                    "{{ i }}",
                    {% endfor %}],
                  backgroundColor: [
                  Chart.helpers.color(window.chartColors.red).alpha(0.75).rgbString(),
                  Chart.helpers.color(window.chartColors.orange).alpha(0.75).rgbString(),
                  Chart.helpers.color(window.chartColors.yellow).alpha(0.75).rgbString(),
                  Chart.helpers.color(window.chartColors.green).alpha(0.75).rgbString(),
                  Chart.helpers.color(window.chartColors.blue).alpha(0.75).rgbString(),
                  Chart.helpers.color(window.chartColors.purple).alpha(0.75).rgbString(),
                  Chart.helpers.color(window.chartColors.grey).alpha(0.75).rgbString(),
                  ]
                  }
                ]
              }


          var cvs = document.getElementById("delivery1").getContext('2d');
          var cDelivery = new Chart(cvs, {
            type: 'pie',
            data: dataDelivery,
            options: {
              responsive: false,
              legend: {
                position: 'bottom'
                }
              }
            
            });

          var cvs = document.getElementById("delivery2").getContext('2d');
          var cDelivery2 = new Chart(cvs, {
            type: 'bar',
            data: dataDelivery2,
            options: {
              responsive: false,
              title: {
                display: true,
                text: 'ON PROGRESS LATE DELIVERY'
              },
              tooltips: {
                mode: 'index',
                intersect: false
                },
              legend: {
                display: false
                },
              scales: {
                yAxes: [{
                  display: true,
                  position: 'left',
                  ticks: {beginAtZero:true}
                  }],
                xAxes: [{
                  display: true,
                  ticks: {
                    autoSkip: false
                  }
                  }]
                }
              }
            
            });

          var cvs = document.getElementById("delivery3").getContext('2d');
          var cDelivery3 = new Chart(cvs, {
            type: 'doughnut',
            data: dataDelivery3,
            options: {
              responsive: false,
              title: {
                display: true,
                text: 'TOP 5 BRANCH ON PROGRESS DELIVERY'
              },
              legend: {
                display: true,
                position: 'right'
                },
              gridLines: {
                drawOnChartArea: false
                }
              }
            
            });

          </script>

      <div class="container">
        <h2>TOP 5  Courier</h2>

        <div class="table-responsive">
          <table class="table table-sm table-hover">
            <thead class="thead-light text-center ">
              <tr>
                {% for row in data["courier"].rename(columns={'branch':'BRANCH','branch_name':'BRANCH NAME', 'courier':'COURIER', 'courier_name': 'COURIER NAME', 'division': 'DIVISION', 'delivery_regular': 'REGULAR DELIVERY', 'delivery_cod': 'COD DELIVERY', 'delivery_total': 'TOTAL DELIVERY'}): %}
                <th>{{ row }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for i, row in data["courier"].sort_values('delivery_total', ascending=False).iterrows(): %}
              <tr>
                {%for col in row: %}
                  {% if loop.index > 5 %}
                <td class="text-center">
                  {{ "{:,.0f}".format(col) }}
                </td>
                  {% elif loop.index <= 5 %}
                <td class="text-left">
                  {{ col }}
                </td>
                  {% endif %}
                {% endfor %}
              </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>



      </div>

{% endblock %}