{% extends "outer.html" %}

{% block body %}

	<!-- <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Penjualan</h1>
      </div> -->

  <div class="container">
    <div class="row">
      <div class="col-sm">
      	<div class="row">
        	<canvas id="jual1" width="250" height="250" class="chartjs-render-monitor"></canvas>
        	<canvas id="jual2" width="250" height="250" class="chartjs-render-monitor"></canvas>
        </div>
        <div class="border-bottom my-2"></div>
        <canvas id="jual5" width="450" height="250" class="chartjs-render-monitor"></canvas>
      </div>
      <div class="col-sm">
        <div>
          <canvas id="jual3" width="450" height="250" class="chartjs-render-monitor"></canvas>
          <div class="border-bottom my-2"></div>
          <canvas id="jual4" width="450" height="250" class="chartjs-render-monitor"></canvas>
        </div>
      </div>
    </div>
  </div>

  <script>
         var dataJual = {
              labels: [{% for i in data["jual"][data["jual"].tipe == 'byr'].sort_values('urut')['nama']: %}
                "{{ i }}",
                {% endfor %}],
              datasets: [
                  {
                  label: 'Airwaybill',
                  type: 'pie',
                  data: [{% for i in data["jual"][data["jual"].tipe == 'byr'].sort_values('urut')['nilai']: %}
                    "{{ i }}",
                    {% endfor %}],
                  backgroundColor: [
                  window.chartColors.green,
                  window.chartColors.blue,
                  window.chartColors.orange,
                  ]
                  }
                ]
              }

         var dataJual2 = {
              labels: [{% for i in data["jual"][data["jual"].tipe == 'cod'].sort_values('urut')['nama']: %}
                "{{ i }}",
                {% endfor %}],
              datasets: [
                  {
                  label: 'Airwaybill',
                  type: 'pie',
                  data: [{% for i in data["jual"][data["jual"].tipe == 'cod'].sort_values('urut')['nilai']: %}
                    "{{ i }}",
                    {% endfor %}],
                  backgroundColor: [
                  window.chartColors.red,
                  window.chartColors.purple,
                  window.chartColors.yellow,
                  ]
                  }
                ]
              }

         var dataJual3 = {
              labels: [{% for i in data["jual"][data["jual"].tipe == 'cab'].sort_values('urut')['nama']: %}
                "{{ i }}",
                {% endfor %}],
              datasets: [
                  {
                  label: 'Airwaybill',
                  type: 'doughnut',
                  data: [{% for i in data["jual"][data["jual"].tipe == 'cab'].sort_values('urut')['nilai']: %}
                    "{{ i }}",
                    {% endfor %}],
                  backgroundColor: [
                  Chart.helpers.color(window.chartColors.red).alpha(0.75).rgbString(),
                  Chart.helpers.color(window.chartColors.orange).alpha(0.75).rgbString(),
                  Chart.helpers.color(window.chartColors.yellow).alpha(0.75).rgbString(),
                  Chart.helpers.color(window.chartColors.green).alpha(0.75).rgbString(),
                  Chart.helpers.color(window.chartColors.blue).alpha(0.75).rgbString(),
                  Chart.helpers.color(window.chartColors.purple).alpha(0.75).rgbString(),
                  Chart.helpers.color(window.chartColors.grey).alpha(0.75).rgbString(),
                  ]
                  }
                ]
              }

         var dataJual4 = {
              labels: [{% for i in data["jual"][data["jual"].tipe == 'kons'].sort_values('urut')['nama']: %}
                "{{ i }}",
                {% endfor %}],
              datasets: [
                  {
                  label: 'Airwaybill',
                  type: 'doughnut',
                  data: [{% for i in data["jual"][data["jual"].tipe == 'kons'].sort_values('urut')['nilai']: %}
                    "{{ i }}",
                    {% endfor %}],
                  backgroundColor: [
                  Chart.helpers.color(window.chartColors.red).alpha(0.75).rgbString(),
                  Chart.helpers.color(window.chartColors.orange).alpha(0.75).rgbString(),
                  Chart.helpers.color(window.chartColors.yellow).alpha(0.75).rgbString(),
                  Chart.helpers.color(window.chartColors.green).alpha(0.75).rgbString(),
                  Chart.helpers.color(window.chartColors.blue).alpha(0.75).rgbString(),
                  Chart.helpers.color(window.chartColors.purple).alpha(0.75).rgbString(),
                  Chart.helpers.color(window.chartColors.grey).alpha(0.75).rgbString(),
                  ]
                  }
                ]
              }

         var dataJual5 = {
              labels: [{% for i in data["hari"].sort_values('tgl')['tgl']: %}
                "{{ i }}",
                {% endfor %}],
              datasets: [
                  {
                  label: 'Airwaybill',
                  type: 'line',
                  fill: false,
                  lineTension: 0,
                  borderColor: window.chartColors.red,
                  pointRadius: 0,
                  yAxisID: 'y-axis-right',
                  data: [{% for i in data["hari"].sort_values('tgl')['awb']: %}
                    "{{ i }}",
                    {% endfor %}]
                  },
                  {
                  label: 'Rupiah Jual',
                  type: 'line',
                  fill: false,
                  lineTension: 0,
                  borderColor: window.chartColors.blue,
                  pointRadius: 0,
                  yAxisID: 'y-axis-left',
                  data: [{% for i in data["hari"].sort_values('tgl')['rp']: %}
                    "{{ i }}",
                    {% endfor %}]
                  }
                ]
              }

          var cvs = document.getElementById("jual1").getContext('2d');
          var cJual = new Chart(cvs, {
            type: 'pie',
            data: dataJual,
            options: {
              responsive: false,
              legend: {
                position: 'bottom'
                }
              }
            });

          var cvs = document.getElementById("jual2").getContext('2d');
          var cJual2 = new Chart(cvs, {
            type: 'pie',
            data: dataJual2,
            options: {
              responsive: false,
              legend: {
                position: 'bottom'
                }
              }
            });

          var cvs = document.getElementById("jual3").getContext('2d');
          var cJual3 = new Chart(cvs, {
            type: 'doughnut',
            data: dataJual3,
            options: {
              responsive: false,
              title: {
                display: true,
                text: '5 CABANG DENGAN JUAL TERBANYAK'
              },
              legend: {
                position: 'left'
                }
              }
            });

          var cvs = document.getElementById("jual4").getContext('2d');
          var cJual4 = new Chart(cvs, {
            type: 'doughnut',
            data: dataJual4,
            options: {
              responsive: false,
              title: {
                display: true,
                text: '5 KONSUMEN DENGAN PENGIRIMAN TERBANYAK'
              },
              legend: {
                position: 'right'
                }
              }
            });

          var cvs = document.getElementById("jual5").getContext('2d');
          var cJual5 = new Chart(cvs, {
            type: 'line',
            data: dataJual5,
            options: {
              responsive: false,
              tooltips: {
                mode: 'index',
                intersect: false
                },
              title: {
                display: true,
                text: 'JUAL HARIAN'
              },
              legend: {
                position: 'bottom'
                },
              scales: {
              yAxes: [{
                id: 'y-axis-left',
                display: true,
                position: 'left',
                ticks: {
                  beginAtZero:true,
                  callback: function(label, index, labels) {
                    return label/1000000+' juta';
                      }
                    }
                  },
                  {
                id: 'y-axis-right',
                display: true,
                position: 'right',
                stacked: true,
                ticks: {
                  beginAtZero:true
                    },
                gridLines: {
                  drawOnChartArea: false
                    }
                  }]
                }
              }
            });

          </script>

<!--       <div class="container">
        <h2>Data</h2>

      </div> -->

{% endblock %}