<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dashboard</title>
  {% include 'head.html' %}
  <link href="/static/css/dashboard.css" rel="stylesheet">
</head>

<body>

{% if session['username']: %}
<!-- ########################################## DISINI TOP NAVBAR ########################################## -->

{% include 'header.html' %}

<!-- ############################################ DISINI SIDEBAR ########################################### -->

{% include 'sidebar.html'%}

<!-- ############################################# DISINI MODAL ############################################# -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Belum Beres</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bagian ini belum selesai dikerjakan.
        Terima kasih
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


  <main role="main" class="col-md-12 ml-sm-auto col-lg-10 pt-3 px-4">


<!-- ########################################## DISINI FRAME UTAMA ########################################## -->

{% block body %}
{% endblock %}

{% else: %}
<H3>Login dolo dongs.</H3>

{% endif %}
  </main>

  <script type="text/javascript">
    $(function () {
    $('[data-toggle="tooltip"]').popover()})
  </script>

</body>

</html>