{% extends "outer.html" %}

{% block body %}

	<!-- <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Sales</h1>
      </div> -->

  <div class="container">
    <div class="row">
      <div class="col-sm">
      	<div class="row">
        	<canvas id="sales1" width="250" height="250" class="chartjs-render-monitor"></canvas>
        	<canvas id="sales2" width="250" height="250" class="chartjs-render-monitor"></canvas>
        </div>
        <div class="border-bottom my-2"></div>
        <canvas id="sales5" width="450" height="250" class="chartjs-render-monitor"></canvas>
      </div>
      <div class="col-sm">
        <div>
          <canvas id="sales3" width="450" height="250" class="chartjs-render-monitor"></canvas>
          <div class="border-bottom my-2"></div>
          <canvas id="sales4" width="450" height="250" class="chartjs-render-monitor"></canvas>
        </div>
      </div>
    </div>
  </div>

  <script>
         var dataSales = {
              labels: [{% for i in data["sales"][data["sales"].type == 'payment'].sort_values('sort')['name']: %}
                "{{ i }}",
                {% endfor %}],
              datasets: [
                  {
                  label: 'Airwaybill',
                  type: 'pie',
                  data: [{% for i in data["sales"][data["sales"].type == 'payment'].sort_values('sort')['value']: %}
                    "{{ i }}",
                    {% endfor %}],
                  backgroundColor: [
                  window.chartColors.green,
                  window.chartColors.blue,
                  window.chartColors.orange,
                  ]
                  }
                ]
              }

         var dataSales2 = {
              labels: [{% for i in data["sales"][data["sales"].type == 'source'].sort_values('sort')['name']: %}
                "{{ i }}",
                {% endfor %}],
              datasets: [
                  {
                  label: 'Airwaybill',
                  type: 'pie',
                  data: [{% for i in data["sales"][data["sales"].type == 'source'].sort_values('sort')['value']: %}
                    "{{ i }}",
                    {% endfor %}],
                  backgroundColor: [
                  window.chartColors.red,
                  window.chartColors.purple,
                  window.chartColors.yellow,
                  ]
                  }
                ]
              }

         var dataSales3 = {
              labels: [{% for i in data["sales"][data["sales"].type == 'branch'].sort_values('sort')['name']: %}
                "{{ i }}",
                {% endfor %}],
              datasets: [
                  {
                  label: 'Airwaybill',
                  type: 'doughnut',
                  data: [{% for i in data["sales"][data["sales"].type == 'branch'].sort_values('sort')['value']: %}
                    "{{ i }}",
                    {% endfor %}],
                  backgroundColor: [
                  Chart.helpers.color(window.chartColors.red).alpha(0.75).rgbString(),
                  Chart.helpers.color(window.chartColors.orange).alpha(0.75).rgbString(),
                  Chart.helpers.color(window.chartColors.yellow).alpha(0.75).rgbString(),
                  Chart.helpers.color(window.chartColors.green).alpha(0.75).rgbString(),
                  Chart.helpers.color(window.chartColors.blue).alpha(0.75).rgbString(),
                  Chart.helpers.color(window.chartColors.purple).alpha(0.75).rgbString(),
                  Chart.helpers.color(window.chartColors.grey).alpha(0.75).rgbString(),
                  ]
                  }
                ]
              }

         var dataSales4 = {
              labels: [{% for i in data["sales"][data["sales"].type == 'customer'].sort_values('sort')['name']: %}
                "{{ i }}",
                {% endfor %}],
              datasets: [
                  {
                  label: 'Sales',
                  type: 'doughnut',
                  data: [{% for i in data["sales"][data["sales"].type == 'customer'].sort_values('sort')['value']: %}
                    "{{ i }}",
                    {% endfor %}],
                  backgroundColor: [
                  Chart.helpers.color(window.chartColors.red).alpha(0.75).rgbString(),
                  Chart.helpers.color(window.chartColors.orange).alpha(0.75).rgbString(),
                  Chart.helpers.color(window.chartColors.yellow).alpha(0.75).rgbString(),
                  Chart.helpers.color(window.chartColors.green).alpha(0.75).rgbString(),
                  Chart.helpers.color(window.chartColors.blue).alpha(0.75).rgbString(),
                  Chart.helpers.color(window.chartColors.purple).alpha(0.75).rgbString(),
                  Chart.helpers.color(window.chartColors.grey).alpha(0.75).rgbString(),
                  ]
                  }
                ]
              }

         var dataSales5 = {
              labels: [{% for i in data["days"].sort_values('date')['date']: %}
                "{{ i }}",
                {% endfor %}],
              datasets: [
                  {
                  label: 'Sales',
                  type: 'line',
                  fill: false,
                  lineTension: 0,
                  borderColor: window.chartColors.red,
                  pointRadius: 0,
                  yAxisID: 'y-axis-right',
                  data: [{% for i in data["days"].sort_values('date')['sales']: %}
                    "{{ i }}",
                    {% endfor %}]
                  },
                  {
                  label: 'Purchase Value',
                  type: 'line',
                  fill: false,
                  lineTension: 0,
                  borderColor: window.chartColors.blue,
                  pointRadius: 0,
                  yAxisID: 'y-axis-left',
                  data: [{% for i in data["days"].sort_values('date')['purchase_value']: %}
                    "{{ i }}",
                    {% endfor %}]
                  }
                ]
              }

          var cvs = document.getElementById("sales1").getContext('2d');
          var cSales = new Chart(cvs, {
            type: 'pie',
            data: dataSales,
            options: {
              responsive: false,
              legend: {
                position: 'bottom'
                }
              }
            });

          var cvs = document.getElementById("sales2").getContext('2d');
          var cSales2 = new Chart(cvs, {
            type: 'pie',
            data: dataSales2,
            options: {
              responsive: false,
              legend: {
                position: 'bottom'
                }
              }
            });

          var cvs = document.getElementById("sales3").getContext('2d');
          var cSales3 = new Chart(cvs, {
            type: 'doughnut',
            data: dataSales3,
            options: {
              responsive: false,
              title: {
                display: true,
                text: 'TOP 5 BRANCH'
              },
              legend: {
                position: 'left'
                }
              }
            });

          var cvs = document.getElementById("sales4").getContext('2d');
          var cSales4 = new Chart(cvs, {
            type: 'doughnut',
            data: dataSales4,
            options: {
              responsive: false,
              title: {
                display: true,
                text: 'TOP 5 CUSTOMERS'
              },
              legend: {
                position: 'right'
                }
              }
            });

          var cvs = document.getElementById("sales5").getContext('2d');
          var cSales5 = new Chart(cvs, {
            type: 'line',
            data: dataSales5,
            options: {
              responsive: false,
              tooltips: {
                mode: 'index',
                intersect: false
                },
              title: {
                display: true,
                text: 'SALES PER DAYS'
              },
              legend: {
                position: 'bottom'
                },
              scales: {
              yAxes: [{
                id: 'y-axis-left',
                display: true,
                position: 'left',
                ticks: {
                  beginAtZero:true,
                  callback: function(label, index, labels) {
                    return label/1000000+' M';
                      }
                    }
                  },
                  {
                id: 'y-axis-right',
                display: true,
                position: 'right',
                stacked: true,
                ticks: {
                  beginAtZero:true
                    },
                gridLines: {
                  drawOnChartArea: false
                    }
                  }]
                }
              }
            });

          </script>

<!--       <div class="container">
        <h2>Data</h2>

      </div> -->

{% endblock %}